body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}
.bold{
    font-weight: bold;
}
.side-bar{
    background-color: #EBE9E9;
    padding: 10px 20px 10px 20px;
    margin-right: 2%;
    margin-bottom: 20px;
    width: 20%;
}
#body{
    padding: 10px 20px 10px 20px;
    background-color: #EBE9E9;
    width: 70%;
    margin-left: auto;
}
#menu{
    display: flex;
}
#menu > p{
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px;
}
#menu > p:hover{
    background-color: #959393;
}
#menu > p > a:visited, #menu > p > a:link, #menu > p > a:active{
    text-decoration: none;
    color: white;
}
.row{
    display: flex;
}
#process{
    width: 80%;
}
.row > p{
    width: 50%;
}
img{
    width: 30%;
    margin: 20px;
    border: 5px solid #000000;
}
h1, h2{
    margin: 0%;
}
h1{
    font-size: 2.5rem;
}
h2{
    margin-bottom: 10px;
    font-variant: normal;
}
nav{
    margin-top: 0;
    padding: 30px;
    background-color: #666464;
    color: #ffffff;
}
#title-selection{
    display: flex;
    flex-wrap: wrap;
    background-color: #EBE9E9;
    padding: 20px;
    margin: 30px;
    font-size: .8rem;
}
#title-selection > p:hover{
    background-color: #666464;
    color: white;
}
p{
    margin-top: 0;
    padding-right: 15px;
}

.selected {
    fill: purple;
    fill-opacity: .8;
    stroke-opacity: 1;
}

@media screen and (max-width: 1310px){
    main{
        flex-direction: column;
    }
    body{
        margin: auto;
    }
    svg{
        width: 300px;
        height: 300px;
    }
}

svg{
    display: block;
    margin: auto;
}